<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Planner</title>
<link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFoB8O3Z9lEQ4E8Xfhi5qfUKNVC4sfq-w&libraries=&v=weekly"
	defer></script>
<script src="/js/popupFunctions.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div>
				<form method="POST" th:action="@{/saveUploadedFile}">
					<input value="Exportar para arquivo CSV" type="submit">
				</form>
				<form method="POST" th:action="@{/planner(action=viewMap)}">
					<input value="Gerar mapa" type="submit">
				</form>
			</div>
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th th:each="header : ${headers}" th:text="${header}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="modelAttributeList : ${modelsAttributes}">
							<td th:each="modelAttribute : ${modelAttributeList}"
								th:text="${modelAttribute.value}"></td>
							<td>
								<div class="btn-group pull-right">
									<button
										th:attr='onclick=|newPopup(@{"/planner/(action=viewMap,id=${modelAttributeList[0].modelId})}")|'
										class="btn btn-sm btn-primary">Ver no mapa</button>
									<a class="btn btn-sm btn-primary"
										th:href="@{/planner/edit/{id}(id=${modelAttributeList[0].modelId})}">Editar</a>
									<a class="delete btn btn-sm btn-danger"
										th:href="@{/planner/delete/{id}(id=${modelAttributeList[0].modelId})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>