<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Planner</title>
<link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFoB8O3Z9lEQ4E8Xfhi5qfUKNVC4sfq-w&libraries=&v=weekly"
	defer></script>
<script src="/js/popupFunctions.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div>
				<form method="POST" th:action="@{/createSalesman(action=view)}">
					<input value="Configurar vendedores" type="submit">
				</form>
				<form method="POST" th:action="@{/planner(action=update)}">
					<input value="Iniciar Roteirizacão" type="submit">
				</form>
				<form method="POST" th:action="@{/planner(action=exportCSV)}">
					<input value="Exportar para arquivo CSV" type="submit">
				</form>
			</div>
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead->
					<tr>
						<th><a th:href="@{/planner(sortBy=customerId)}">ID</a></th>
						<th><a th:href="@{/planner(sortBy=sectorId)}">SETOR</a></th>
						<th><a th:href="@{/planner(sortBy=tradeName)}">NOME
								FANTASIA</a></th>
						<th><a th:href="@{/planner(sortBy=companyName)}">RAZAO
								SOCIAL</a></th>
						<th><a th:href="@{/planner(sortBy=neighborhood)}">BAIRRO</a></th>
						<th><a th:href="@{/planner(sortBy=place)}">LOGRADOURO</a></th>
						<th><a th:href="@{/planner(sortBy=placeId)}">NUMERO</a></th>
						<th><a th:href="@{/planner(sortBy=visitDay)}">DIA DE
								VISITA</a></th>
						<th><a th:href="@{/planner(sortBy=city)}">CIDADE</a></th>
						<th><a th:href="@{/planner(sortBy=region)}">REGIAO</a></th>
						<th><a th:href="@{/planner(sortBy=postalCode)}">CEP</a></th>
						<th><a th:href="@{/planner(sortBy=latitude)}">LATITUDE</a></th>
						<th><a th:href="@{/planner(sortBy=longitude)}">LONGITUDE</a></th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="customer : ${customers}">
							<td th:text="${customer.customerId}"></td>
							<td th:text="${customer.sectorId}"></td>
							<td th:text="${customer.tradeName}"></td>
							<td th:text="${customer.companyName}"></td>
							<td th:text="${customer.neighborhood}"></td>
							<td th:text="${customer.place}"></td>
							<td th:text="${customer.placeId}"></td>
							<td th:text="${customer.visitDay}"></td>
							<td th:text="${customer.city}"></td>
							<td th:text="${customer.region}"></td>
							<td th:text="${customer.postalCode}"></td>
							<td th:text="${customer.latitude}"></td>
							<td th:text="${customer.longitude}"></td>
							<td>
								<div class="btn-group pull-right">
									<button
										th:attr='onclick=|newPopup(@{"/map/{customerId}(customerId=${customer.customerId})}")|'
										class="btn btn-sm btn-primary">Ver no mapa</button>
									<a class="btn btn-sm btn-primary"
										th:href="@{/planner/edit/{customerId}(customerId=${customer.customerId})}">Editar</a>
									<a class="delete btn btn-sm btn-danger"
										th:href="@{/planner/delete/{customerId}(cusdtomerId=${customer.customerId})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>